<%= form_tag("authentificate", method: "POST") do %>
  <%= hidden_field_tag(:path, @path) %>
  <table class="login">
    <tr>
      <td><span class="form-label">Авторизация</span></td>
    </tr>
    <tr>
      <td><%= text_field_tag(:login, nil, autofocus: true,
                             placeholder: "Логин", required: true,
                             class: 'form-control') %></td>
    </tr>
    <tr>
      <td><%= password_field_tag(:pass, nil, placeholder: "Пароль",
                                 required: true, class: 'form-control') %></td>
    </tr>
    <tr>
      <td><%= submit_tag("Вход", class: 'btn btn-primary') %></td>
    </tr>
    <tr>
      <td> <%= link_to("Регистрация", new_user_path) %></td>
    </tr>
  </table>

<% end %>
