<div class="col-lg-12">
<h1>Записная Электронная Книжка</h1>
<p>
  Записная Электронная Книжка позволит централизовать планирование событий как
для частных лиц, так и для работников компаний. В случае последних это избавит их от
большого количества бумаг и бюрократии. Необходимости лично согласовывать задачи
и пр.
</p>
<img src="/Images/calendar.jpg" class="center-block"/>
<p>
  Для создания новой записи, цели, задачи необходимо сделать следующее:
Гость или пользователь заходит на сайт ЗЭК и создает новое событие. Он выбирает
дату этого события, вводит его описание, также он может прикрепить к нему
изображения, аудиофайлы и пр.
</p>
<p>
При приближении определенного события пользователь получает уведомление (либо
получает уведомление по определенным правилам, установленным им самим).
Для просмотра событий пользователю необходимо зайти в ЗЭК и просмотреть
календарь событий.
</p>
<p>
Пользователь может делиться своими планами предоставив доступ к его
определённым записям другим пользователям.
Если планы или задачи меняются после их создания, пользователю необходимо их
отредактировать.
</p>
</div>