  <tr data-timetable=<%=timetable.id%>>
        <td class="num">
          <%=timetable.group_number %><br>
          <%= link_to to_json_timetable_path(timetable), remote: true do %>
              <span class="to_json">JSON</span>
          <% end %><br>
          <a class="from_json">Вставка</a>
        </td>
    <% events = timetable.events %>
    <% (Date.new(@date.year, @date.month, 01)..Date.new(@date.year, @date.month, -1)).each do |date| %>
        <% events_today = [] %>
        <% events.each do |event| %>
            <% if event.date == date %>
              <% events_today.append(event) %>
            <% end %>
        <% end %>
        <td class="events
        <% if date.today? %>
          , today
        <% elsif date.sunday? || date.saturday? %>
          , weekend
        <% end %>
        "
          data-date="<%= date %>">
          <button id="add_event" class="btn btn-sm">Добавить</button>
        <% if not events_today.empty? %>
            <%= render events_today %>
        <% end %>
      </td>
    <% end %>
  </tr>