<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- <link rel="stylesheet" type="text/css" href="../timetable/main.css"> -->
  <%= stylesheet_link_tag 'timetables' %>
  <%= javascript_include_tag 'timetables', 'jquery', 'jquery-ui.min' %>
  <!--<script src="http://code.jquery.com/jquery-2.1.4.js"></script>-->
  <!--<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
</head>
<body>
<% if session[:planning_task_id] != nil %>
    <li>
      <%= link_to 'Завершить задачу планировщика', :action => "commit" %>
    </li>
<% end %>
    <button id="add_groups" class="btn btn-primary">Добавить расписания</button>
<h2 id="month">
  <%= link_to '<', :month => (@date.beginning_of_month-1).strftime('%b-%Y') %>
  <%=h @date.strftime('%B %Y') %>
  <%= link_to '>', :month => (@date.end_of_month+1).strftime('%b-%Y') %>
</h2>
<table cellspacing="0">
  <tr>
        <th></th>
    <% (Date.new(@date.year, @date.month, 01)..Date.new(@date.year, @date.month, -1)).each do |date| %>
        <th><span class="day"><%= date.strftime('%d') %></span><br><%= date.strftime('%a') %></th>
    <% end %>
  </tr>
  <%= render @timetables_showed %>
</table>
<div class="form" id="events_form"></div>

<div class="form" id="groups_form">
  <span class="close" id="groups_close">&times</span>
  <%= link_to timetables_init_path, remote: true, data: {confirm: 'Страница будет перезагружена. Инициализировать?'} do %>
      <button class="btn btn-primary">Инициалировать</button>
  <% end %><br>
  <button id="check_all" class="btn btn-primary">Выделить все</button>
  <button id="uncheck_all" class="btn btn-primary">Снять выделение</button>
  <%= form_tag('/timetables/show', remote: true) do %>
      <div id="timetables">
        <% @timetables.each do |timetable| %>
            <p id="show_<%= timetable.id %>">
              <% if @timetables_showed.include?(timetable) %>
                  <%= check_box("show", timetable.id, options ={checked: true}) %>
              <% else %>
                  <%= check_box("show", timetable.id) %>
              <% end %>
              <%= label("show", timetable.id, timetable.group_number) %>
            </p>
        <% end %>
      </div>
      <!--костыли для передачи параметра по ajax, ам сорри ;)-->
      <p id="month_hidden">
        <%= text_field('month', :month, options ={value: @date}) %>
      </p>
      <%= submit_tag("Добавить", class: 'btn btn-primary') %>
  <% end %>
</div>
<div class="form" id="to_json_form">
  <span class="close" id="to_json_close">&times</span>
  <%= form_for(@template, remote: true) do |f| %>
      <p>
        <%= f.label("Имя шаблона") %><br>
        <%= f.text_field :name, options={class: 'form-control'} %>
        <%= f.submit("Создать шаблон", class: 'btn btn-primary') %>
      </p>
      <p>
        <%= f.label ("JSON") %><br>
        <%= f.text_area(:json, options={class: 'form-control',size: "38x14", readonly: ''}) %>
      </p>
  <% end %>
  <!--<textarea id="json" rows="14" cols="38" disabled></textarea>-->

</div>

<div class="form" id="from_json_form">
  <span class="close" id="from_json_close">&times</span>
  <select id="templates">
    <% @templates.each do |template| %>
        <option value="<%= template.id %>"><%= template.name %> </option>
    <% end %>
  </select>
  <button id="template" class="btn btn-primary">Вставить</button>
  <button id="template_delete" class="btn btn-primary">Удалить</button>
  <textarea id="from_json" rows="14" cols="38"></textarea>
  <!--костыли для передачи параметра по ajax, ам сорри ;)-->
  <p id="month_hidden">
    <%= text_field('month', :month, options ={value: @date}) %>
  </p>
  <button id="from_json_submit" class="btn btn-primary">Пересоздать</button>
</div>
<div id="overlay"></div>
<div id="download">Загрузка</div>
</body>
</html>