<div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2 aling-center">
    <%= form_for(@timetable) do |f| %>
      <p>
        <%= f.label :group_number, 'Название:' %>
      </p>
      <p>
        <%= f.text_field :group_number, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :permit, 'Публичная:' %>
      </p>
      <p>
        <%= f.check_box :permit, class: 'form-control' %>
      </p>

      <p>
        <%= f.submit('Создать расписание', class: 'btn btn-primary') %>
      </p>
    <% end %>
  </div>
  <div class="col-lg-5"></div>
</div>