<% content_for(:head) do %>
  <title>Группа <%= @group.name %></title>
<% end %>
<div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2 aling-center">
    <%= form_tag group_path, method: "PUT" do %>
      <%= label_tag :number, "Название группы:" %>
      <%= text_field_tag :number, @group.name, class: 'form-control' %><br/>
      <%= submit_tag "Сохранить", class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-lg-5"></div>
</div>
<%= form_tag "add", method: "POST" do %>
  <%= display_standard_table([{name: "fio", display_name: "ФИО"},
                              {name: "login", display_name: "Логин"},
                              {name: "delete", display_name: ""}], @users) %>
<% end %>
