<% content_for(:head) do %>
  <title>Новая группа</title>
<% end %>

<div class="col-lg-5"></div>
<div class="col-lg-2 aling-center">
  <%= form_tag groups_path, method: "POST" do %>
    <div class="form-group">
      <%= label_tag :number, "Название группы:" %>
      <%= text_field_tag :number, nil, class: 'form-control' %><br/>
      <%= submit_tag "Создать", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div class="col-lg-5"></div>