<% content_for(:head) do %>
  <title>Группа <%= @group.name %></title>
<% end %>

<%= content_tag :span, "Название группы:" %>
<%= content_tag :span, @group.name, class: 'form-control'%><br/>

<%= display_standard_table([{name: "fio", display_name: "ФИО"},
                            {name: "login", display_name: "Логин"}



                           ], @users) %>
