<%= form_for @user do |f| %>
  <div class="form-group">
    <%= label_tag "Имя" %> <span style="color: red">*</span>
    <%= text_field_tag 'fio', nil, required: true,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag "Логин" %>  <span style="color: red">*</span>
    <%= f.text_field :login, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %> <span style="color: red">*</span>
    <%= f.email_field :email, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag "Пароль" %> <span style="color: red">*</span>
    <%= f.password_field :pass, required: true, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
  </div>
<% end %>
