<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <h1>Доступные расписания</h1>
    <ul>
      <% unless @groups.empty? %>
        <% @groups.each do |group| %>
          <% if Timetable.find_by(group_id: group.id) != nil %>
            <%= render group %>
          <% end %>
        <% end %>
      <% end %>
      <% unless @timetables.empty? %>
        <% @timetables.each do |timetable| %>
          <% if timetable.group_id == nil %>
            <li>
              Название: <%= link_to timetable.group_number, schedule_path(timetable), method: :get %> <%= timetable.permit ? 'Публичное' : 'Приватное' %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-4"></div>
</div>
