<div
class='events'
data-event="<%=event.id%>">

  <% if event.only_time != nil %>
      <%=event.only_time.strftime('%H:%M')%>
  <% end %><br>
  <% if event.name != nil %>
  <%=event.name%>
  <% end %><br>
    <%= link_to edit_event_path(event), remote: true do %>
        <span class="edit">e</span>
    <% end %>
    <%= link_to event, remote: true, method: :delete,  data: { confirm: 'Удалить?' } do %>
        <span class="delete"><b>&times</b></span>
    <% end %>
      <%= link_to event_path(event), method: :get do %> <!--todo ссылка на компонент-->
          <span>Просмотр</span>
      <% end %>
</div>