<span class="close" id="events_close">&times</span>
<%= form_for(@event, remote: true) do |f| %>
  <p>
    <%= f.label :name, 'Название:' %>
  </p>
  <p>
    <%= f.text_field :name, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :description, 'Описание:' %>
  </p>
  <p>
    <%= f.text_field :description, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :only_time, 'Время:' %>
    <%= f.time_select :only_time, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :files, 'Выберите файл:' %>
  </p>

  <ol>
    <% @event.attachments.each do |attachment| %>
      <li>
        <%= link_to show_attachment(attachment), attachment.image.url %>
      </li>
    <% end %>
  </ol>
  <p>
    <%= f.file_field :files, multiple: true %>
  </p>
  <!--костыли для передачи параметра по ajax-->
  <p id="event_hidden">
    <%= f.label :timetable_id %>
    <%= f.text_field :timetable_id, options = {value: @timetable_id} %>
    <%= f.label :date %>
    <%= f.text_field :date, options = {value: @date} %>
  </p>
  <p>
    <%= f.submit('Добавить', class: 'btn btn-primary') %>
  </p>
<% end %>