<p>
  <strong>Название:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @event.only_time %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @event.description %>
</p>

<% if @event.edit_by?(@user) %>
  <div class="btn-toolbar">
    <%= link_to '', edit_post_path(@event), class: 'btn btn-primary' %>
    <%= link_to '', @event, class: 'btn btn-danger', data: {method: :delete, confirm: ''} %>
  </div>
<% end %>


  <% if @event.attachments.present? %>
    <div class="panel-footer">
      <ul class="list-inline">
        <% @event.attachments.each do |attachment| %>
          <li>
            <%= link_to_attachment attachment %>
            <% if @event.edit_by?(@user) %>
              <%= link_to edit_attachment_path(attachment), class: 'text-danger' do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
