table{
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  width:  3000px;
  border-collapse: collapse;
  color: #777;
}
td{
  width: 100px;
  height: 150px;
  text-align: center;
  border: solid 1px #606060;
}
th{
  font-weight: normal;
  background: #DDD;
  color: #666;
  border: 1px solid #999;
  position: relative;
  z-index: 2;
}
.weekend{
  background-color: #ecd5d5;
}
.today {
  background-color: #c7e6f5;
}
.events{
  cursor: pointer;
}
div.events{
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  position: relative;
  /*display: inline-block;*/
}
.num{
  width: 60px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.border{
  width: 30px;
  border: none;
}
span.delete{
  cursor: pointer;
  text-decoration: none;
  font-size: 26px;
  position: absolute;
  top: -7px;
  right: 0px;
  display: block;
}
span.edit{
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  bottom: -3px;
  right: 2px;
  display: block;
}
span.day{
  font-size: 26px;
}
#timetables{
  width: 290px;
  height: 270px;
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
#event_hidden{
  display: none;
}
#month_hidden{
  display: none;
}

#month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

/*form classes*/
.form {
  width: 310px;
  //height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}
.close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
  display: block;
}
form{
  margin: auto;
}
#overlay, #download {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.6;
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
  color: #fff;
  text-align: center;
  line-height:800px;
  font-size:50px;
}
